target
requirements.txt
.clangd
.clang-format
*.lock
.cargo*
*.dylib
*.so
*.a
*.o
*.d
*.obj
cache
.nfs*
.DS_Store
*.npy
npy/*
npm*
*.tmp
__pycache__
.clangd.swp
.vscode
eigsys/eigen2
eigsys/eigen3
eigsys/svd_shifted
eigsys/bench3
examples/asset
examples/data
examples/**/.*
examples/export
examples/_*
frontend/**/.*
_skipped.node
docs/_*
docs/global_parameters.rst
docs/object_parameters.rst
docs/logs.rst
private/vast-dev
private/log
blender_addon/lib
dev/node_modules
*.log
src/cpp/kernels/tests/test_exclusive_scan
src/cpp/kernels/tests/test_reduce
src/cpp/build
build-win-native/python
build-win-native/deps
build-win-native/.*
build-win-native/downloads
build-win-native/rust
build-win-native/start.bat
build-win-native/start-jupyterlab.pyw
build-win-native/ppf-cts

!Cargo.lock
